/* .col-lg-6 {
  text-align: center;
  color: white;
} */

body {
  padding: 30px;
}

#left {
  background-color: #22af4e;
}

#middle {
  background-color: #b13924;
}

#right {
  background-color: #2278af;
}
